#chat-bar{
    background-color: #F0F4F8;
    height: auto;
    scrollbar-width: none;
    max-height: 100vh; /* Set the maximum height for the chat window */
    overflow-x:hidden; 
    position: relative;
}
.top-bar{
    display: flex;
    justify-content: center;
}
.avatar-placeholder {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
  }


#msg{
    background-color: #0089FF;
   
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.active-chat {
    background-color: #ffffff; /* Light blue background for the active chat */
   
  }
  #chat-bar .row.p-2.align-items-center {
    display: flex;
    justify-content: space-between;
  }
  
  #chat-bar .row.p-2.align-items-center .col {
    display: flex;
    align-items: center;
  }
  
  #chat-bar .ant-space-horizontal {
    display: flex;
    gap: 10px; /* Adjust the gap between search and new chat button */
  }
  

  
  
  